{% extends "base.html" %}

{% block title %}Очистка данных{% endblock %}

{% block content %}

<div class="reg-form">
<h1>Очистка данных</h1>
<p>Внимание! Это приведет к полному удалению данных!
    <br>Введите пароль, чтобы подтвердить удаление
</p>

<form method="post">
    {% csrf_token %}

    {% for f in form %}
    <p><label class="form-label">{{ f.label }}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    <p><input type="submit" value="Подтвердить"></p>
    {% endfor %}
    
</form>
</div>
{% endblock %}