{% extends 'table_creator/base.html' %}
{% block content %}
{% load my_template_extras %}


<table class="main-table">
  <thead class="main-load">
    <tr>
      <td colspan="24">Педагогическая нагрузка
      <select id="teacher" class="teacher"></select>
      <select id="education_year" class="education_year"></select>
      </td>
    </tr>
  </thead>
  <thead class="main-info">
    <tr>
      <td rowspan="2">№</td> <!-- autoincrement -->
      <td rowspan="2">Дисциплина</td> <!-- select -->
      <td rowspan="2">Группа</td> <!-- select -->
      {% for load in type_load %}
      <td colspan="2">{{ load }}</td>
      {% endfor %}
      <td rowspan="2">Б</td>
      <td rowspan="2">В/Б</td>
      <td rowspan="2">Всего</td>
    </tr>
    <tr>
      {% with ''|center:type_load_length as range %}
      {% for _ in range %}
        <td>1 семестр</td><td>2 семестр</td>
      {% endfor %}
      {% endwith %}</tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="number"></td>
      <td><select></select></td>
      <td><select></select></td>
      {% with ''|center:input_load_semester as range %}
      {% for _ in range %}
      <td><input type="number"></td>
      {% endfor %}
      {% endwith %}
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
    </tr>
  </tbody>
  <tfoot>
    {% for budget in type_results %}
    <tr>
      <td colspan="2">{{ budget }}</td>
      <td colspan="19"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
    </tr>
    {% endfor %}
  </tfoot>

</table>
<div>С нагрузкой ознакомлен, не возражаю ___________________________</div>
<div class="demo-wrapper">
  <form
    class="form-upload"
    id="uploadForm"
    method="post"
    enctype="multipart/form-data"
  >
      {% csrf_token %}
    <label class="form-upload__label" for="uploadForm_File">
      <span class="form-upload__title">Excel файл:</span>
      <input
        class="form-upload__input"
        id="uploadForm_File"
        type="file"
        name="file_name"
        accept=".xlsx"
      >
    </label>
    <input
      class="form-upload__submit form-upload__submit_orange"
      id="uploadForm_Submit"
      type="submit"
      value="Загрузить файл"
    >
    <progress id="progressBar" value="0" max="100"></progress>
    <div class="form-upload__container">
      <span class="form-upload__status" id="uploadForm_Status"></span>
      <span id="uploadForm_Size"></span>
    </div>
  </form>
</div>
{% endblock %}