{% extends 'table_creator/base.html' %}
{% block content %}
{% load my_template_extras %}
{% load static %}


<table class="main-table">
  <thead class="main-load">
    <tr>
      <td colspan="24">Педагогическая нагрузка
      <select id="teacher" class="teacher" name="teacher">
          <option value="" selected disabled></option>
          {% for teacher in teachers %}
            <option value="{{ teacher.pk }}">{{ teacher }}</option>
          {% endfor %}
      </select>
      <select id="education_year" class="education_year"></select> <!-- добавить базу с годами, как создавать -->
      </td>
    </tr>
  </thead>
  <thead class="main-info">
    <tr>
      <td rowspan="2">№</td> <!-- autoincrement -->
      <td rowspan="2">Дисциплина</td> <!-- select -->
      <td rowspan="2">Группа</td> <!-- select -->
      {% for load in type_load %}
      <td class="type_load" colspan="2" id="{{ load.pk }}">{{ load }}</td>
      {% endfor %}
      <td rowspan="2">Б</td>
      <td rowspan="2">В/Б</td>
      <td rowspan="2">Всего</td>
    </tr>
    <tr>
      {% with ''|center:type_load_length as range %}
      {% for _ in range %}
        <td>1 семестр</td><td>2 семестр</td>
      {% endfor %}
      {% endwith %}
    </tr>
  </thead>
  <tbody id="table_body">
    <tr>
      <td><input type="number"></td>
      <td><select id="subject" class="subject" name="subject">
      </select></td>
      <td>
        <select id="group" class="group" name="group">
        </select></td>

      {% with ''|center:input_load_semester as range %}
      {% for i in range %}
      <td><input type="text" id="hour" name="hour"></td>
      {% endfor %}
      {% endwith %}
    </tr>
  </tbody>
  <tfoot>
    {% for budget in type_results %}
    <tr>
      <td colspan="2">{{ budget }}</td>
      <td colspan="19"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
    </tr>
    {% endfor %}
  </tfoot>

</table>
<div>С нагрузкой ознакомлен, не возражаю ___________________________</div>
<div class="demo-wrapper">
  <form
    class="form-upload"
    id="uploadForm"
    method="post"
    enctype="multipart/form-data">

      {% csrf_token %}
    <label class="form-upload__label" for="uploadForm_File">
      <span class="form-upload__title">Excel файл:</span>
      <input
        class="form-upload__input"
        id="uploadForm_File"
        type="file"
        name="file_name"
        accept=".xlsx"
      >
    </label>
    <input
      class="form-upload__submit form-upload__submit_orange"
      id="uploadForm_Submit"
      type="submit"
      value="Загрузить файл"
    >
    <progress id="progressBar" value="0" max="100"></progress>
    <div class="form-upload__container">
      <span class="form-upload__status" id="uploadForm_Status"></span>
      <span id="uploadForm_Size"></span>
    </div>
  </form>
</div>
<div><input onclick="addLine()" type="button" class="button" value="Добавить строку" id="add_line"></div>
<div>
    <input onclick="deleteRow()" type="button" class="button" value="Удалить строку" id="delete_line">
</div>
<div>
    <label for="row_number_input">Номер строки:</label>
    <input type="number" id="row_number_input">
</div>

<script src="{% static 'table_creator/js/get_data.js' %}"></script>
<script src="{% static 'table_creator/js/jobs_for_line.js' %}"></script>
{% endblock %}