{% extends "base.html" %}
{% load static %}
{% load table_creator_extras %}

{% block title %} Главная {% endblock %}

{% block content %}

<table class="main-table">
  <thead class="main-load">
    <tr>
      <td colspan="24">Педагогическая нагрузка
      <select id="teacher" class="teacher" name="teacher">
          <option value="" selected disabled></option>
          {% for teacher in teachers %}
            <option value="{{ teacher.pk }}">{{ teacher }}</option>
          {% endfor %}
      </select>
      <select id="education_year" class="education_year"></select> <!-- добавить базу с годами, как создавать -->
      </td>
    </tr>
  </thead>
  <thead class="main-info">
    <tr class="type-load-colums">
      <td rowspan="2" class="info">№</td>
      <td rowspan="2" class="info">Дисциплина</td>
      <td rowspan="2" class="info">Группа</td>
      {% for load in type_load %}
      <td class="type_load" colspan="2" id="{{ load.pk }}">{{ load }}</td>
      {% endfor %}
      <td rowspan="2" class="budget">Б</td>
      <td rowspan="2" class="budget">В/Б</td>
      <td rowspan="2" class="budget">Всего</td>
    </tr>
    <tr>
      {% with ''|center:type_load_length as range %}
      {% for _ in range %}
        <td class="semester">1 семестр</td><td class="semester">2 семестр</td>
      {% endfor %}
      {% endwith %}
    </tr>
  </thead>
  <tbody id="table_body">
  </tbody>
  <tfoot id="table_results">
    {% for budget in type_results %}
    <tr>
      <td colspan="2">{{ budget }}</td>
      <td colspan="19"></td>
      <td><input type="text" id="budget_sum_{{ forloop.counter }}" value="0"></td>
      <td><input type="text" id="extra_budget_sum_{{ forloop.counter }}" value="0"></td>
      <td><input type="text" id="budget_result_{{ forloop.counter }}" value="0"></td>
    </tr>
    {% endfor %}
  </tfoot>
</table>
<div class="sign">С нагрузкой ознакомлен, не возражаю ___________________________</div>

<div class="demo-wrapper">
  <form
    class="form-upload"
    id="uploadForm"
    method="post"
    enctype="multipart/form-data"
    action="{% url 'upload-file' %}">

      {% csrf_token %}
    <label class="form-upload__label" for="uploadForm_File">
      <span class="form-upload__title">Excel файл:</span>
      <input
        class="form-upload__input"
        id="uploadForm_File"
        type="file"
        name="file_name"
        accept=".xlsx"
      >
    </label>
    <input
      class="form-upload__submit form-upload__submit_orange"
      id="uploadForm_Submit"
      type="submit"
      value="Загрузить файл"
    >
  </form>
</div>

<div class="buttons-menu">
<div><input type="button" class="button" value="Добавить строку" id="add_row"></div>
<div class="delete-row-menu">
    <input type="button" class="button" value="Удалить строку" id="delete_row" >
    <label for="row_number_input" class="delete-row-element">Номер строки:</label>
    <input type="number" id="row_number_input"  class="delete-row-element delete-row-input">
</div>
<div><button class="button" id="print-button">Печать</button></div>
<div><a href="{% url 'clear_data' %}" class="button clear-data">Очистить данные</a></div>
</div>

<script src="{% static 'table_creator/js/print.js' %}"></script>
<script src="{% static 'table_creator/js/get_data.js' %}"></script>
<script src="{% static 'table_creator/js/jobs_for_line.js' %}"></script>
{% endblock %}