{% extends "base.html" %}

{% block title %}Смена пароля{% endblock %}
{% block content %}

<div class="change-pass reg-form">
<h1 class="form-header">Изменение пароля</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors}}</div>

    {% for f in form %}
    <div class="form-container"><label class="form-label">{{ f.label }}: </label>{{ f }}</div>

    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <div class="button-containter"><button type="submit">Изменить пароль</button></div>

</form>
</div>
{% endblock %}