{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

<div class="reset-form reg-form">
<h1>Восстановление пароля</h1>
<p>Введите адрес электронной почты для получения нового пароля</p>

<form method="post">
    {% csrf_token %}

    {% for f in form %}
    <p><label class="form-label">{{ f.label }}: </label>{{ f }}</p>
    {% endfor %}

    <div class="form-error">{{ f.errors }}</div>
    <p><input type="submit" value="Сбросить по E-mail"></p>


</form>
</div>
{% endblock %}