{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

<div class="reset-form reg-form">
<h1 class="form-header">Новый пароль</h1>

<form method="post">
    {% csrf_token %}

    {% for f in form %}
    <div class="form-container"><label class="form-label">{{ f.label }}: </label>{{ f }}</div>

    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <div class="button-containter"><button type="submit" class="form-button-submit">Сохранить</button></div>


</form>
</div>
{% endblock %}