{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

<div class="reset-form reg-form">
<h1 class="form-header">Восстановление пароля</h1>
<p>Введите адрес электронной почты для получения нового пароля</p>

<form method="post">
    {% csrf_token %}

    {% for f in form %}
    <div class="form-container"><label class="form-label">E-mail: </label>{{ f }}</div>

    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <div class="button-containter">
        <button type="submit" class="form-button-submit email-button-submit">Сбросить по E-mail</button>
    </div>


</form>
</div>
{% endblock %}