{% extends "base.html" %}

{% block title %}Смена пароля{% endblock %}
{% block content %}

<div class="change-pass reg-form">
<h1>Изменение пароля</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors}}</div>

    {% for f in form %}
    <p><label class="form-label">{{ f.label }}: </label>{{ f }}</p>

    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Изменить пароль</button></p>

</form>
</div>
{% endblock %}