{% extends "base.html" %}


{% block content %}

<div class="register-form reg-form">
<h1 class="form-header">Регистрация</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors}}</div>

    <input type="hidden" name="next" value="{{ next }}">
    {% for f in form %}
    <div class="form-container"><label class="form-label">{{ f.label }}: </label>{{ f }}</div>

    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <div class="button-containter">
        <button type="submit" class="form-button-submit register-submit-button">Зарегистрироваться</button>
    </div>


</form>
</div>
{% endblock %}